files:
    "/home/ec2-user/setup-script.sh":
        mode: "00755"
        owner: ec2-user
        group: ec2-user
        encoding: plain
        content: |
            #!/bin/bash
            sudo mkdir /tmp/.pm2
            sudo chown -R ec2-user /tmp/
            sudo chmod -R /tmp/.pm2
commands:
    01-setup-script:
        command: "sh -x /home/ec2-user/setup-script.sh"